body {
    margin: 0;
}
.slider-active {
    width:100%;
    overflow: hidden;
    position: relative;
}
.slide-button {
    position: absolute;
    width:57px;
    height:57px;
    top: 50%;
    margin-top: -28.5px;
    cursor: pointer;
    opacity: 0.5;
}
.slide-button:hover {
    opacity: 1;
}
.slide-button.next {
    background: url(../img/arr-right.png) no-repeat;
    right: 5%;
}
.slide-button.prev {
    background: url(../img/arr-left.png) no-repeat;
    left: 5%;
}
.slider-cont {
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.slider-cont .slider-item {
    width:100%;
    float: left;
    display: none;
}
.slider-cont .slider-item.active {
    display: block;
}
.animation .slider-item {
    display: block;
}
.slider-text {
    background: #ccc;
    text-align: center;
}